/*#filtri.filtri_selezionati{
	display: none;
}
*/

.loop-search-container .dropdown-filterlist-container {
 width:100%;
 display:inline-block;
 background:#a8aeb4;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist {
 padding:5px 0;
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul .dropdown-filterlist-headline {
 border-right:1px dotted #868c92;
 padding-right:20px;
 display:inline-block;
 text-shadow: 2px 1px 1px #7b8187;
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul .dropdown-filterlist-headline span {
 font-size:13px;
 line-height:13px;
 font-weight:600;
 vertical-align:middle;
 margin-left:7px;
 color:#fff;
 text-transform: uppercase;
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul .dropdown-filterlist-headline .fa {
 font-size:16px;
 vertical-align:middle;
 color:#fff
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul .dropdown-filterlist-headline .fa-angle-right {
 margin-left:10px
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
    vertical-align: top;
    padding: 0 6px;
    text-align: center;
    border-right: 1px dotted #868c92;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-transform: uppercase;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li:last-child {
 border-right:0px;
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content {
 color:#42474b;
 font-size:11px
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content .filterlist-headline {
 padding:5px;
 font-size:13px;
 line-height:13px;
 vertical-align:middle;
 font-weight:normal;
 cursor:pointer;
 color:#fff;
 opacity:1;
 -webkit-transition:opacity .3s ease;
 -moz-transition:opacity .3s ease;
 -ms-transition:opacity .3s ease;
 -o-transition:opacity .3s ease;
 transition:opacity .3s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content .filterlist-headline .fa {
 font-size: 17px;
 margin-left: 15px;
 vertical-align:middle;
 color:#fff;
 opacity:1;
 -webkit-transform:rotate(0deg);
 -moz-transform:rotate(0deg);
 -ms-transform:rotate(0deg);
 -o-transform:rotate(0deg);
 transform:rotate(0deg);
 -webkit-transition:all .3s ease;
 -moz-transition:all .3s ease;
 -ms-transition:all .3s ease;
 -o-transition:all .3s ease;
 transition:all .3s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content .filterlist-headline span {
 vertical-align:middle;
 line-height:22px;
 font-weight:500
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content .filterlist-headline.filterlist-headline-active {
 color:#454545;
 background: #ffffff;
 border-radius: 3px;
 -webkit-transition:color .3s ease;
 -moz-transition:color .3s ease;
 -ms-transition:color .3s ease;
 -o-transition:color .3s ease;
 transition:color .3s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .dropdown-filterlist-content .filterlist-headline.filterlist-headline-active .fa {
 color:#454545;
 -webkit-transform:rotate(-180deg);
 -moz-transform:rotate(-180deg);
 -ms-transform:rotate(-180deg);
 -o-transform:rotate(-180deg);
 transform:rotate(-180deg);
 -webkit-transition:all .3s ease;
 -moz-transition:all .3s ease;
 -ms-transition:all .3s ease;
 -o-transition:all .3s ease;
 transition:all .3s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list {
 width:250px;
 margin-top:25px;
 font-weight:400;
 text-transform:none;
 position:absolute;
 left:50%;
 margin-left:-135px;
 background:#fff;
 padding:8px;
 -webkit-box-shadow:19px 19px 40px 0 rgba(0,0,0,.6);
 -moz-box-shadow:19px 19px 40px 0 rgba(0,0,0,.6);
 -ms-box-shadow:19px 19px 40px 0 rgba(0,0,0,.6);
 -o-box-shadow:19px 19px 40px 0 rgba(0,0,0,.6);
 box-shadow:19px 19px 40px 0 rgba(0,0,0,.6);
 background-clip:padding-box;
 -webkit-border-radius:2px;
 -moz-border-radius:2px;
 -ms-border-radius:2px;
 -o-border-radius:2px;
 border-radius:2px;
 z-index:4;
 -webkit-transform:translateY(-20px);
 -moz-transform:translateY(-20px);
 -ms-transform:translateY(-20px);
 -o-transform:translateY(-20px);
 transform:translateY(-20px);
 -webkit-transition:all .15s ease;
 -moz-transition:all .15s ease;
 -ms-transition:all .15s ease;
 -o-transition:all .15s ease;
 transition:all .15s ease;
 display: none;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list .contenitore_marchio {
    font-size: 11px;
    line-height: 18px;
    padding: 3px 0 3px 30px;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list .checkmark {
    left: 5px;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list.filter-list-active {
 opacity:1;
 visibility:visible;
 -webkit-transform:translateY(0);
 -moz-transform:translateY(0);
 -ms-transform:translateY(0);
 -o-transform:translateY(0);
 transform:translateY(0);
 -webkit-transition:all .15s ease;
 -moz-transition:all .15s ease;
 -ms-transition:all .15s ease;
 -o-transition:all .15s ease;
 transition:all .15s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list:before {
 content:"";
 position:absolute;
 width:16px;
 height:16px;
 background:#fff;
 top:-8px;
 left:50%;
 margin-left:-8px;
 -webkit-transform:rotate(45deg);
 -moz-transform:rotate(45deg);
 -ms-transform:rotate(45deg);
 -o-transform:rotate(45deg);
 transform:rotate(45deg)
}




/*
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list div {
 width:100%;
 max-height:220px;
 position:relative;
 overflow-y:scroll;
 padding:8px 16px 0 16px
}
*/
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li {
 display:inline-block;
 width:100%;
 height:auto;
 margin-bottom:5px;
 font-size:11px;
 padding:0;
 line-height:1.2;
 text-align:left;
 border-right:0;
 cursor:pointer;
 opacity:1;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li:last-child {
 margin-bottom:0px;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li .loop-facet {
 display:inline-block;
 vertical-align:middle;
 position:relative;
 width:150px;
 margin-left: 5px;
}

 .loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li strong {
 position: absolute;
 right: 10px;
 color: #000000;
 padding: 1px 3px;
 background: #ffffff;
 border-radius: 3px;
 top: 1px;
 text-align: center;
 width: 35px;
 font-size: 11px;
 text-shadow: 0px;
 border: 1px solid #C6C6C6;
}

.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li .loop-facet-check {
 width:18px;
 height:18px;
 border:1px solid #4ec3d2;
 display:inline-block;
 margin-right:3px;
 padding:0;
 vertical-align:middle;
 text-align:center;
 background-clip:padding-box;
 -webkit-border-radius:2px;
 -moz-border-radius:2px;
 -ms-border-radius:2px;
 -o-border-radius:2px;
 border-radius:2px;
 overflow:hidden
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li .loop-facet-check .fa {
 color:#4ec3d2;
 font-size:10px;
 vertical-align:middle
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li.active .loop-facet-check {
 background-color:#4ec3d2
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li.active .loop-facet-check .fa {
 color:#fff
}
/*
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li .filter-list li:hover {
 opacity:.3
}
*/
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li p {
 font-size:12px;
 color:#0084b4;
 font-weight:600;
 margin-top:5px;
 cursor:pointer;
 opacity:1
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li p:hover {
 opacity:.8;
 -webkit-transition:opacity .3s ease;
 -moz-transition:opacity .3s ease;
 -ms-transition:opacity .3s ease;
 -o-transition:opacity .3s ease;
 transition:opacity .3s ease
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li:hover .filterlist-headline {
 opacity: 1;
-webkit-transition: opacity .1s ease;
-moz-transition: opacity .1s ease;
-ms-transition: opacity .1s ease;
-o-transition: opacity .1s ease;
transition: opacity .1s ease;
background: #ffffff;
border-radius: 3px;
color: #454545;
}
.loop-search-container .dropdown-filterlist-container .dropdown-filterlist ul li:hover .filterlist-headline .fa {
 opacity:1;
 -webkit-transition:all .1s ease;
 -moz-transition:all .1s ease;
 -ms-transition:all .1s ease;
 -o-transition:all .1s ease;
 transition:all .1s ease;
 color: #454545;
}



.active-filter-panel { 
position:relative;
display:inline-block;
width:100%;
text-align:left;
border-top:1px solid #e0e0e0;
border-bottom:1px solid #e0e0e0;
min-height:55px;
padding:5px 0;
margin: 0;
}
.active-filter-panel h3 { 
font-size:16px;
font-family:"Gotham SSm A","Gotham SSm B",sans-serif;
line-height:1;
color:#000;
margin:10px 0 0 0;
font-weight:normal;
text-transform:none
}
.active-filter-panel h3 .fa { 
vertical-align:text-top;
margin-right:5px
}
.active-filter-panel .filter-column { 
margin:0 10px 0 0;
display:inline;
width:auto
}
.active-filter-panel .filter-column .filterMenu { 
margin-bottom:0;
display:inline-block
}
.active-filter-panel .filter-column p { 
font-size:12px;
line-height:1;
position:relative;
width:auto;
margin-right:5px;
vertical-align:baseline
}
.active-filter-panel .filter-column ul.filter-list { 
position:relative;
left:0;
width:auto;
margin-left:0
}
.active-filter-panel .filter-column ul.filter-list ul { 
margin:0 5px
}
.active-filter-panel .filter-column ul.filter-list li>span { 
-webkit-transition:background .2s ease;
-moz-transition:background .2s ease;
-ms-transition:background .2s ease;
-o-transition:background .2s ease;
transition:background .2s ease;
padding:8px 10px
}
.active-filter-panel .filter-column ul.filter-list li>span p { 
font-weight:normal;
vertical-align:bottom
}

.vehicle-page .filter-column ul.filter-list.listItemsFade li.filter-list-item { 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
filter:alpha(opacity=50);
opacity:.5;
-webkit-transition:all .3s ease 0s;
-moz-transition:all .3s ease 0s;
-ms-transition:all .3s ease 0s;
-o-transition:all .3s ease 0s;
transition:all .3s ease 0s
}
.vehicle-page .filter-column ul.filter-list.listItemsFade li.filter-list-item.selectedItem { 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter:alpha(opacity=100);
opacity:1
}
.vehicle-page .filter-column .filter-list-item { 
float:left}

.vehicle-page .filter-column .filter-list-item span { 
color:#000;
font-size:12px;
line-height:1.2}

.filter-column ul.filter-list li.filter-list-item { 
display:inline-block;
margin:5px;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter:alpha(opacity=100);
opacity:1;
-webkit-transition:opacity .7s ease 0s;
-moz-transition:opacity .7s ease 0s;
-ms-transition:opacity .7s ease 0s;
-o-transition:opacity .7s ease 0s;
transition:opacity .7s ease 0s}

.filter-column ul.filter-list li.filter-list-item span { 
display:inline-block;
background-clip:padding-box;
-webkit-border-radius:5px;
-moz-border-radius:5px;
-ms-border-radius:5px;
-o-border-radius:5px;
border-radius:5px;
padding:7px 10px;
background:#fff;
cursor:pointer;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1);
-webkit-transition:all .3s ease 0s;
-moz-transition:all .3s ease 0s;
-ms-transition:all .3s ease 0s;
-o-transition:all .3s ease 0s;
transition:all .3s ease 0s}

.filter-column ul.filter-list li.filter-list-item span span { 
cursor:default;
pointer-events:none;
padding:0}

.filter-column ul.filter-list li.filter-list-item i { 
display:inline-block;
vertical-align:sub;
margin-right:5px
}

.filter-column ul.filter-list li.filter-list-item.highlight span { 
color:#fff;
background:#42474b;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1);
-webkit-transition:all .3s ease 0s;
-moz-transition:all .3s ease 0s;
-ms-transition:all .3s ease 0s;
-o-transition:all .3s ease 0s;
transition:all .3s ease 0s
}

.filter-column ul.filter-list li.filter-list-item.highlight span:hover {
 background: #fff;
 color: #42474b;
}

.filter-column ul.filter-list li.filter-list-item.inactive { 
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=15)";
filter:alpha(opacity=15);
opacity:.15;
-webkit-transition:opacity .7s ease 0s;
-moz-transition:opacity .7s ease 0s;
-ms-transition:opacity .7s ease 0s;
-o-transition:opacity .7s ease 0s;
transition:opacity .7s ease 0s;
pointer-events:none
}

.filter-column ul.filter-list li.filter-list-item.inactive span { 
cursor:default
}

.filter-column ul.filter-list li.filter-list-item.category-filter div { 
display:inline
}

.filter-column.filter-outlet-category { 
width:110%;
margin-left:-20px
}

.filter-column.filter-outlet-category .filter-list-outlet { 
width:110%;
margin-left:0;
font-size:0
}

.filter-column.filter-outlet-category .filter-list-outlet .filter-list-item { 
display:inline-block;
margin:10px;
width:20%
}

.filter-column.filter-outlet-category .filter-list-outlet .filter-list-item .filter-list-item-link { 
width:100%;
padding:15px 20px
}

.filter-column.filter-outlet-category .filter-list-outlet .filter-list-item .filter-list-item-link:hover { 
-webkit-transform:scale(1.02);
-moz-transform:scale(1.02);
-ms-transform:scale(1.02);
-o-transform:scale(1.02);
transform:scale(1.02)
}

.filter-column.filter-outlet-category .filter-list-outlet .filter-list-item .filter-list-item-link i { 
font-size:30px;
font-size:3rem;
line-height:30px;
line-height:3rem;
display:inline-block;
vertical-align:middle;
margin-right:5px
}

.filter-column.filter-outlet-category .filter-list-outlet .filter-list-item .filter-list-item-link div { 
font-size:16px;
font-size:1.6rem;
line-height:18px;
line-height:1.8rem;
display:inline-block;
vertical-align:middle
}

.loop-search-container .active-filter-panel .container-fluid .sezione_filtri::before {
    content: "";
    position: absolute;
    margin-left: 50px;
    top: -7px;
    width: 12px;
    height: 12px;
    background: #f8f9fa;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sezione_filtri {
	width: 100%;
	display: block;
}


.active-filter-panel .filter-panel-clear {
    position: absolute;
    top: -45px;
    margin-top: 10px;
    right: 200px;
    cursor: pointer;
}

.active-filter-panel .filter-panel-clear .fa { 
font-size:20px;
margin-right:5px;
color:#C51212;
display:inline;
vertical-align:middle;
-webkit-transition:color .2s ease;
-moz-transition:color .2s ease;
-ms-transition:color .2s ease;
-o-transition:color .2s ease;
transition:color .2s ease
}

.active-filter-panel .filter-panel-clear p { 
font-size:11px;
color:#C51212;
display:inline;
font-weight:500;
vertical-align:middle;
margin-right:0;
-webkit-transition:color .2s ease;
-moz-transition:color .2s ease;
-ms-transition:color .2s ease;
-o-transition:color .2s ease;
transition:color .2s ease;
text-transform: uppercase;
}

.active-filter-panel .filter-panel-clear:hover p,.active-filter-panel .filter-panel-clear:hover .fa { 
color:#424852;
-webkit-transition:color .2s ease;
-moz-transition:color .2s ease;
-ms-transition:color .2s ease;
-o-transition:color .2s ease;
transition:color .2s ease
}

.loop-search-container .active-filter-panel .filter-column {
    width: 100%;
    display: inline-block;
}

.loop-search-container .active-filter-panel .filter-column ul.filter-list {
    margin-top: 4px;
    margin-left: -4px;
}
.active-filter-panel .filter-column ul.filter-list {
    position: relative;
    left: 0;
    width: auto;
    margin-left: 0;
}

.loop-search-container .filter-column ul li {
    color: #000;
    font-size: 12px;
   	display: inline-block;
}

.active-filter-panel .filter-column p {
    font-size: 12px;
    line-height: 1;
    position: relative;
    width: auto;
    margin-right: 5px;
    vertical-align: middle;
}
.filter-column p {
    position: absolute;
    top: 50%;
    margin-top: -7px;
    width: 20%;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 14px;
    line-height: 1.4rem;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: bold;
}


.active-filter-panel .filter-column ul.filter-list li > span p {
    font-weight: normal;
    vertical-align: baseline;
	margin-top: 0px;
}
.active-filter-panel .filter-column p {
    font-size: 12px;
    line-height: 1;
    position: relative;
    width: auto;
    margin-right: 5px;
    vertical-align: baseline;
	margin-bottom: 0px;
}

.active-filter-panel .filter-column ul.filter-list .fa {
    font-size: 14px;
    vertical-align: middle;
    margin-right: 0;
    color: #fff;
}
.filter-column ul.filter-list li.filter-list-item.highlight span:hover .fa {
    color: #42474b;
}