<!-- Footer - Default Style 1 -->
<footer id="footer" data-footer-style="1">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-5 mb-30">
				<!-- Title -->
				<h3 class="title m_title">
					HOGASH STUDIO
				</h3>

				<div class="sbs">
					<ul class="menu">
						<li><a href="index.html">Home</a></li>
						<li><a href="about-us.html">About us</a></li>
						<li><a href="our-team.html">Our team</a></li>
						<li><a href="faq.html">F.A.Q</a></li>
						<li><a href="styles-typography.html">Template styles</a></li>
						<li><a href="blog.html">Blog</a></li>
						<li><a href="careers.html">Career</a></li>
						<li><a href="process.html">Jobs</a></li>
						<li><a href="contact-us.html">Contact</a></li>
					</ul>
				</div>
			</div>
			<!--/ col-sm-12 col-md-5 mb-30 -->

			<div class="col-sm-12 col-md-4 mb-30">
				<div class="newsletter-signup">
					<!-- Title -->
					<h3 class="title m_title">
						NEWSLETTER SIGNUP
					</h3>

					<p>
						By subscribing to our mailing list you will always be update with the latest news from us.
					</p>

					<form action="http://YOUR_USERNAME.DATASERVER.list-manage.com/subscribe/post-json?u=YOUR_API_KEY&amp;id=LIST_ID&c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<input type="email" value="" name="EMAIL" class="nl-email form-control" id="mce-EMAIL" placeholder="your.address@email.com" required>
						<input type="submit" name="subscribe" class="nl-submit" id="mc-embedded-subscribe" value="JOIN US">
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;">
							<input type="text" name="b_xxxxxxxxxxxxxxxxxxxCUSTOMxxxxxxxxx" value="">
						</div>
					</form>	

					<!-- Notification container -->
					<div id="notification_container"></div>

					<p>
						We never spam!
					</p>
				</div><!-- end newsletter-signup -->
			</div>
			<!-- col-sm-12 col-md-4 mb-30 -->

			<div class="col-sm-12 col-md-3 mb-30">
				<!-- Title -->
				<h3 class="title m_title">
					GET IN TOUCH
				</h3>

				<!-- Contact details -->
				<div class="contact-details">
					<p>
						<strong>T (212) 555 55 00</strong><br>
						Email: <a href="#">sales@yourwebsite.com</a>
					</p>

					<p>
						Your Company LTD<br>
						Street nr 100, 4536534, Chicago, US
					</p>

					<p>
						<a href="http://goo.gl/maps/1OhOu" target="_blank">
							<i class="icon-map-marker white-icon"></i>
							Open in Google Maps
						</a>
					</p>
				</div>
				<!--/ .contact-details -->
			</div>
			<!--/ col-sm-12 col-md-3 mb-30 -->
		</div>
		<!--/ row -->

		<div class="row">
			<div class="col-sm-12 col-md-6">
				<div class="twitterFeed">				
					<!-- twitter feeds -->
					<div class="tweets" id="twitterFeed"><small>Please wait whilst our latest tweets load</small></div>
					<a href="https://twitter.com/Hogash" class="twitter-follow-button" data-show-count="false">Follow @hogash</a>
					<!-- twitter script -->
					<script>
						! function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (!d.getElementById(id)) {
								js = d.createElement(s);
								js.id = id;
								js.src = "//platform.twitter.com/widgets.js";
								fjs.parentNode.insertBefore(js, fjs);
							}
						}(document, "script", "twitter-wjs");
					</script>
					<!--/ twitter script -->
				</div>
				<!--/ twitter-feed -->
			</div>
			<!--/ col-sm-12 col-md-6 -->

			<div class="col-sm-12 col-md-6 mb-30">
				<!-- social-share buttons -->
				<div class="social-share social-share d-flex justify-content-end">
					<!-- Facebook button -->
					<div class="fb-like d-flex align-self-center" data-href="https://www.facebook.com/hogash.themeforest" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
					<!--/ Facebook button -->
					<!-- Facebook Script -->
					<div id="fb-root"></div>
					<script>
						(function(d, s, id) {
							var js, fjs = d.getElementsByTagName(s)[0];
							if (d.getElementById(id)) return;
							js = d.createElement(s); js.id = id;
							js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1380815252226236";
							fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
					</script>
					<!--/ Facebook Script -->

					<!-- Twitter button -->
					<div class="twitter-button d-flex align-self-center">
						<!-- Change data-via to your own. -->
						<a href="https://twitter.com/share" class="twitter-share-button" data-via="hogash" data-counturl="https://dev.twitter.com/web/tweet-button">Tweet</a>
					</div>
					<!--/ Twitter button -->

					<!-- Google+ button -->
					<div class="google-button d-flex align-self-center">
						<div class="g-follow" data-annotation="bubble" data-height="20" data-href="//plus.google.com/u/0/118411267887632617276" data-rel="author"></div>
						<script src="https://apis.google.com/js/platform.js" async defer></script>
					</div>
					<!--/ Google+ button -->

					<!-- Pinterest button -->
					<div class="pinterest-button d-flex align-self-center">
						<a href="https://www.pinterest.com/pin/create/button/" data-pin-do="buttonPin">
						</a>
						<script type="text/javascript" async defer src="//assets.pinterest.com/js/pinit.js"></script>
					</div>
					<!--/ Pinterest button -->
				</div>
				<!--/ social-share -->
			</div>
			<!--/ col-sm-12 col-md-6 mb-30 -->
		</div>
		<!--/ row -->

		<div class="row">
			<div class="col-sm-12">
				<div class="bottom clearfix">
					<!-- social-icons -->
					<ul class="social-icons sc--clean clearfix">
						<li class="title">GET SOCIAL</li>
						<li><a href="#" target="_self" class="fab fa-facebook-f" title="Facebook"></a></li>
						<li><a href="#" target="_self" class="fab fa-twitter" title="Twitter"></a></li>	
						<li><a href="#" target="_self" class="fab fa-dribbble" title="Dribbble"></a></li>
						<li><a href="#" target="_self" class="fab fa-google-plus-g" title="Google Plus"></a></li>
					</ul>
					<!--/ social-icons -->

					<!-- copyright -->
					<div class="copyright">
						<a href="index.html">
							<img src="images/kallyas-footerlogo.svg" alt="Kallyas Demo">
						</a>
						<p>
							© 2018 All rights reserved. Buy <a href="http://themeforest.net/item/kallyas-responsive-multipurpose-template/3583938">Kallyas Template</a>.
						</p>
					</div>
					<!--/ copyright -->
				</div>
				<!--/ bottom -->
			</div>
			<!--/ col-sm-12 -->
		</div>
		<!--/ row -->
	</div>
	<!--/ container -->
</footer>
<!--/ Footer - Default Style 1 -->