<!-- Header style 12 -->
<header id="header" class="site-header" data-header-style="12">
	<!-- Header wrapper -->
	<div class="kl-main-header">
		<!-- Header Main wrapper -->
		<div class="site-header-main-wrapper">
			<!-- Header Main container -->
			<div class="siteheader-container container">
				<!-- Header Main row -->
				<div class="site-header-row site-header-main d-flex justify-content-center align-items-center">
					<!-- Logo container-->
					<div class="logo-container hasInfoCard logosize--yes d-flex">
						<!-- Logo -->
						<h1 class="site-logo logo align-self-center" id="logo">
							<a href="index.html" title="">
								<img src="images/kallyas-logo.svg" class="logo-img" alt="Kallyas" title="Kallyas Gigantic Premium Template" />
							</a>
						</h1>
						<!--/ Logo -->

						<!-- InfoCard -->
						<div id="infocard" class="logo-infocard">
							<div class="custom">
								<div class="row">
									<div class="col-sm-6 left-side d-flex">
										<div class="align-self-center">
											<div class="infocard-wrapper text-center">
												<img src="images/kallyas_icon.png" class="mb-25" alt="Kallyas" title="Kallyas" />
												<p>
													Kallyas is an gigantic ultra-premium, responsive template built for today websites with over <strong>350 elements</strong>.
												</p>
											</div>
											<!--/ infocard-wrapper -->
										</div>
										<!--/ .align-self-center -->
									</div>
									<!--/ col-sm-6 left-side d-flex -->

									<div class="col-sm-6 right-side">
										<div class="custom contact-details">
											<p>
												Your Company LTD<br>
												Street nr 100, 4536534, Chicago, US <br>
												<a href="mailto:sales@yourwebsite.com">sales@yourwebsite.com</a>
											</p>
											<a href="http://goo.gl/maps/1OhOu" class="map-link" target="_blank" title="">
												<span class="fas fa-map-marker-alt white-icon mr-10"></span>
												<span>Open in Google Maps</span>
											</a>
										</div>
										<div style="height:20px;">
										</div>
										<!-- Social links clean style -->
										<ul class="social-icons sc--clean">
											<li><a href="#" target="_self" class="fab fa-twitter" title="Twitter"></a></li>
											<li><a href="#" target="_self" class="fab fa-facebook-f" title="Facebook"></a></li>
											<li><a href="#" target="_self" class="fab fa-dribbble" title="Dribbble"></a></li>
											<li><a href="#" target="_blank" class="fab fa-google-plus-g" title="Google Plus"></a></li>
										</ul>
										<!--/ Social links clean style -->
									</div>
									<!--/ col-sm-6 right-side -->
								</div>
								<!--/ row -->
							</div>
							<!--/ custom -->
						</div>
						<!--/ InfoCard -->
					</div>
					<!--/ logo container-->
				</div>
				<!--/ .site-header-row .site-header-main -->

				<!-- Header Separator -->
				<div class="separator"></div>
			</div>
			<!--/ Header Main container -->
		</div>
		<!--/ Header Main wrapper -->

		<!-- Header Bottom wrapper -->
		<div class="site-header-bottom-wrapper">
			<!-- Header Bottom container -->
			<div class="siteheader-container container">
				<!-- Header Bottom row -->
				<div class="site-header-row site-header-bottom d-flex flex-row justify-content-center">
					<!-- Main Menu wrapper -->
					<div class="main-menu-wrapper col">
						<!-- Responsive menu trigger -->
						<div id="zn-res-menuwrapper">
							<a href="#" class="zn-res-trigger zn-header-icon"></a>
						</div>
						<!--/ responsive menu trigger -->

						<!-- Main menu -->
						<div id="main-menu" class="main-nav zn_mega_wrapper">
							<ul id="menu-main-menu" class="main-menu zn_mega_menu">
								<li class="menu-item-has-children menu-item-mega-parent"><a href="index.html">HOMEPAGES & NICHE</a>
									<ul class="hg_mega_container row clearfix">
										<li class="menu-item-has-childern col-lg-4"><a href="#" class="zn_mega_title">HOMEPAGES</a>
											<ul class="clearfix">
												<li><a href="index.html">ARIES Homepage</a></li>
												<li><a href="orion-homepage.html">ORION Homepage</a></li>
												<li><a href="vega-homepage.html">VEGA Homepage</a></li>
												<li><a href="aura-homepage.html">AURA Homepage</a></li>
												<li><a href="homepages-agency.html">Agency Homepage</a></li>
												<li><a href="one-page.html">One Page</a></li>
												<li><a href="kuma-homepage.html">KUMA Homepage</a></li>
												<li><a href="ara-homepage.html">ARA Homepage</a></li>
												<li><a href="kronos-homepage.html">KRONOS Homepage</a></li>
												<li><a href="apollo-homepage.html">APOLLO Homepage</a></li>
												<li><a href="eos-homepage.html">EOS Homepage</a></li>
											</ul>
										</li>
										<li class="menu-item-has-childern col-lg-4"><a href="#" class="zn_mega_title">NICHE</a>
											<ul class="clearfix">
												<li><a href="_15-cargo-homepage.html" target="_blank">CARGO</a></li>
												<li><a href="_14-gym-homepage.html" target="_blank">GYM</a></li>
												<li><a href="_13-charity-homepage.html" target="_blank">CHARITY</a></li>
												<li><a href="_12-architecture-homepage.html" target="_blank">ARCHITECTURE</a></li>
												<li><a href="_11-interior-homepage.html" target="_blank">INTERIOR DESIGN</a></li>
												<li><a href="_10-university-homepage.html" target="_blank">UNIVERSITY</a></li>
												<li><a href="_9-dental-clinic-homepage.html" target="_blank">DENTAL CLINIC</a></li>
												<li><a href="_8-dance-homepage.html" target="_blank">DANCE SCHOOL</a></li>
												<li><a href="_16-lawyer-homepage.html" target="_blank">LAWYER</a></li>
												<li><a href="_7-construction-homepage.html" target="_blank">CONSTRUCTION</a></li>
												<li><a href="_6-business-homepage.html" target="_blank">BUSINESS</a></li>
												<li><a href="_3-restaurant-onepage.html" target="_blank">RESTAURANT</a></li>
												<li><a href="_4-furniture-homepage.html" target="_blank">FURNITURE</a></li>
												<li><a href="_5-fashion-homepage.html" target="_blank">FASHION</a></li>
												<li><a href="_1-travel-homepage.html" target="_blank">TRAVEL</a></li>
												<li><a href="_2-hotel-homepage.html" target="_blank">HOTEL</a></li>
												<li><a href="_17-automotive-homepage.html" target="_blank">AUTOMOTIVE</a></li>
											</ul>
										</li>
										<li class="menu-item-has-childern col-lg-4"><a href="#" class="zn_mega_title ">CLASSIC HOMEPAGES</a>
											<ul class="clearfix">
												<li><a href="homepages-homepage-1-classic.html">Homepage 1</a></li>
												<li><a href="homepages-homepage-2-classic.html">Homepage 2</a></li>
												<li><a href="homepages-homepage-3-classic.html">Homepage 3</a></li>
												<li><a href="homepages-homepage-4-classic.html">Homepage 4</a></li>
												<li><a href="homepages-homepage-5-classic.html">Homepage 5</a></li>
												<li><a href="homepages-homepage-6-classic.html">Homepage 6</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children menu-item-mega-parent"><a href="#">SLIDERS</a>
									<ul class="hg_mega_container row clearfix">
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Presentation Oriented</a>
											<ul class="clearfix">
												<li><a href="sliders-ios-slider-default.html">IOS SLIDER (DEFAULT)</a></li>
												<li><a href="sliders-ios-slider-alternative.html">IOS SLIDER (ALTERNATIVE)</a></li>
												<li><a href="sliders-ios-slider-mood.html">IOS SLIDER - MOOD</a></li>
												<li><a href="sliders-creative-slider-revolution.html">CREATIVE SLIDER (REVOLUTION)</a></li>
												<li><a href="sliders-simple-and-modern.html">SIMPLE N’ MODERN SLIDER</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Portfolio Oriented</a>
											<ul class="clearfix">
												<li><a href="sliders-css3-panels.html">CSS3 PANELS</a></li>
												<li><a href="sliders-css3-panels-alternative.html">CSS3 PANELS (ALTERNATIVE)</a></li>
												<li><a href="sliders-portfolio-frames.html">PORTFOLIO FRAMES</a></li>
												<li><a href="sliders-laptop-slider.html">LAPTOP SLIDER</a></li>
												<li><a href="sliders-laptop-slider-alternative.html">LAPTOP SLIDER (ALTERNATIVE)</a></li>
												<li><a href="sliders-icarousel.html">ICAROUSEL</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Shop Oriented</a>
											<ul class="clearfix">
												<li><a href="sliders-shop-slider-revolution.html">SHOP SLIDER (PART 1)</a></li>
												<li><a href="sliders-shop-slider-part-2.html">SHOP SLIDER (PART 2)</a></li>
												<li><a href="sliders-circular-catalogue.html">CIRCULAR CATALOGUE</a></li>
												<li><a href="sliders-circular-carousel.html">CIRCULAR CAROUSEL</a></li>
												<li><a href="sliders-circular-carousel-alternative.html">CIRCULAR CAROUSEL ALT.</a></li>
												<li><a href="sliders-fancy-slider.html">FANCY SLIDER</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Others</a>
											<ul class="clearfix">
												<li><a href="sliders-simple-n-classic.html">SIMPLE N’ CLASSIC</a></li>
												<li><a href="sliders-nivo-slider.html">NIVO SLIDER</a></li>
												<li><a href="sliders-wow-slider-blast.html">WOW SLIDER / BLAST</a></li>
												<li><a href="sliders-wow-slider-flyout.html">WOW SLIDER / FLYOUT</a></li>
												<li><a href="sliders-wow-slider-blinds.html">WOW SLIDER / BLINDS</a></li>
											</ul>
										</li>
										<li class="menu-item-spacer"></li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Based on Revolution Slider</a>
											<ul class="clearfix">
												<li><a href="__rev-slider_addon-reveal.html">REVEAL ADDON</a></li>
												<li><a href="__rev-slider_addon-overexposure-transition.html">OVEREXPURE TRANSITION ADDON</a></li>
												<li><a href="__rev-slider_addon-double-exposure-effect.html">DOUBLE EXPOSURE EFFECT ADDON</a></li>
												<li><a href="__rev-slider_addon-space-opera.html">SPACE OPERA ADDON</a></li>
												<li><a href="__rev-slider_addon-app-showcase.html">APP SHOWCASE ADDON</a></li>
												<li><a href="__rev-slider_addon-particle-effect-one.html">PARTICLE EFFECT 1 ADDON</a></li>
												<li><a href="__rev-slider_addon-blend-mode-header.html">BLEND MODE HEADER ADDON</a></li>
												<li><a href="__rev-slider_addon-typewriter-effect.html">TYPEWRITER EFFECT ADDON</a></li>
												<li><a href="__rev-slider_agency-website-header.html">AGENCY WEBSITE HEADER</a></li>
												<li><a href="__rev-slider_agency-website-header1.html">AGENCY WEBSITE HEADER 1</a></li>
												<li><a href="__rev-slider_app-landing.html">APP LANDING</a></li>
												<li><a href="__rev-slider_better-youtube-gallery.html">YOUTUBE GALLERY</a></li>
												<li><a href="__rev-slider_car-dealership.html">CAR DEALERSHIP</a></li>
												<li><a href="__rev-slider_coming-soon.html">COMING SOON</a></li>
												<li><a href="__rev-slider_concept.html">CONCEPT</a></li>
												<li><a href="__rev-slider_content-zoom1.html">CONTENT ZOOM</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_only_hide v-hidden">Revolution Slider</a>
											<ul class="clearfix">
												<li><a href="__rev-slider_addon-snow.html">SNOW ADDON</a></li>
												<li><a href="__rev-slider_addon-portfolio-viewer.html">PORTFOLIO VIEWER ADDON</a></li>
												<li><a href="__rev-slider_addon-film-strip.html">FILM STRIP ADDON</a></li>
												<li><a href="__rev-slider_addon-parallax-zoom-slices.html">PARALLAX ZOOM SLICES ADDON</a></li>
												<li><a href="__rev-slider_addon-product-showcase.html">PRODUCT SHOWCASE ADDON</a></li>
												<li><a href="__rev-slider_addon-duotone.html">DUOTONE ADDON</a></li>
												<li><a href="__rev-slider_creative-frontpage.html">CREATIVE FRONTPAGE</a></li>
												<li><a href="__rev-slider_duotone1.html">DUOTONE</a></li>
												<li><a href="__rev-slider_exploration-header.html">EXPLORATION HEADER</a></li>
												<li><a href="__rev-slider_fashion.html">FASHION</a></li>
												<li><a href="__rev-slider_focus-parallax.html">FOCUS PARALLAX</a></li>
												<li><a href="__rev-slider_fullscreen-menu.html">FULLSCREEN MENU</a></li>
												<li><a href="__rev-slider_gym.html">GYM</a></li>
												<li><a href="__rev-slider_highlight-carousel1.html">HIGHLIGHT CAROUSEL</a></li>
												<li><a href="__rev-slider_innovation1.html">INNOVATION</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_only_hide v-hidden">Revolution Slider</a>
											<ul class="clearfix">
												<li><a href="__rev-slider_addon-blur-effect-slider.html">BLUR EFFECT ADDON</a></li>
												<li><a href="__rev-slider_addon-particle-effect-three.html">PARTICLE EFFECT 3 ADDON</a></li>
												<li><a href="__rev-slider_addon-carousel-gallery.html">CAROUSEL GALLERY ADDON</a></li>
												<li><a href="__rev-slider_addon-mask-showcase.html">MASK SHOWCASE ADDON</a></li>
												<li><a href="__rev-slider_addon-before-after-slider.html">BEFORE AFTER ADDON</a></li>
												<li><a href="__rev-slider_addon-panorama360.html">360 PANORAMA ADDON</a></li>
												<li><a href="__rev-slider_inspiration-header.html">INSPIRATION HEADER</a></li>
												<li><a href="__rev-slider_levano-restaurant-bar.html">RESTAURANT BAR</a></li>
												<li><a href="__rev-slider_magazine-posts.html">MAGAZINE POSTS</a></li>
												<li><a href="__rev-slider_main-slider.html">MAIN SLIDER</a></li>
												<li><a href="__rev-slider_newsletter-hero1.html">NEWSLETTER HERO</a></li>
												<li><a href="__rev-slider_notgeneric1.html">NOT GENERIC</a></li>
												<li><a href="__rev-slider_restaurant-header.html">RESTAURANT HEADER</a></li>
												<li><a href="__rev-slider_rock-band-music.html">ROCK BAND MUSIC</a></li>
												<li><a href="__rev-slider_rotating-words.html">ROTATING WORDS</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_only_hide v-hidden">Revolution Slider</a>
											<ul class="clearfix">
												<li><a href="__rev-slider_addon-particle-effect-two.html">PARTICLE EFFECT 2 ADDON</a></li>
												<li><a href="__rev-slider_addon-80s-style-intro.html">80s STYLE INTRO ADDON</a></li>
												<li><a href="__rev-slider_addon-gravity-design.html">GRAVITY DESIGN ADDON</a></li>
												<li><a href="__rev-slider_addon-404-error-page.html">404 ERROR PAGE ADDON</a></li>
												<li><a href="__rev-slider_addon-website-intro.html">WEBSITE INTRO ADDON</a></li>
												<li><a href="__rev-slider_addon-mountain-parallax-header.html">MOUNTAIN PARALLAX HEADER</a></li>
												<li><a href="__rev-slider_addon-parallax-scroll.html">PARALLAX SCROLL ADDON</a></li>
												<li><a href="__rev-slider_scroll-effect1.html">SCROLL EFFECT</a></li>
												<li><a href="__rev-slider_showcase-carousel.html">SHOWCASE CAROUSEL</a></li>
												<li><a href="__rev-slider_sleek-landing-page.html">SLEEK LANDING PAGE</a></li>
												<li><a href="__rev-slider_sports-hero1.html">SPORTS HERO</a></li>
												<li><a href="__rev-slider_vimeo-hero.html">VIMEO HERO</a></li>
												<li><a href="__rev-slider_web-product-dark.html">WEB PRODUCT DARK</a></li>
												<li><a href="__rev-slider_web-product-light.html">WEB PRODUCT LIGHT</a></li>
												<li><a href="__rev-slider_youtube-hero.html">YOUTUBE HERO</a></li>
											</ul>
										</li>
									</ul>	
								</li>
								<li class="menu-item-has-children"><a href="#">HERO SCENES</a>
									<ul class="sub-menu clearfix">
										<li><a href="static-content-default-layout.html">SIMPLE LAYOUT</a></li>
										<li><a href="static-content-simple-boxes.html">SIMPLE BOXES</a></li>
										<li><a href="static-content-showroom-carousel.html">SHOWROOM CAROUSEL</a></li>
										<li><a href="static-content-booking-panel.html">BOOKING PANEL</a></li>
										<li><a href="static-content-weather-panel.html">WEATHER PANEL</a></li>
										<li><a href="static-content-simple-text-with-mask.html">SIMPLE TEXT WITH MASK</a></li>
										<li><a href="static-content-event-countdown.html">EVENT COUNTDOWN</a></li>
										<li><a href="static-content-google-maps.html">GOOGLE MAPS</a></li>
										<li><a href="static-content-video-launcher.html">VIDEO LAUNCHER</a></li>
										<li><a href="static-content-text-with-register.html">TEXT WITH REGISTER</a></li>
										<li><a href="static-content-product-presentation.html">PRODUCT PRESENTATION</a></li>
										<li><a href="static-content-product-presentation-alt.html">PRODUCT PRESENTATION - ALT</a></li>
										<li><a href="static-content-video-background.html">VIDEO BACKGROUND</a></li>
										<li><a href="static-content-simple-text.html">SIMPLE TEXT</a></li>
										<li><a href="static-content-text-pop.html">TEXT POP</a></li>
										<li><a href="static-content-text-play.html">TEXT PLAY</a></li>
										<li><a href="static-content-immersive-video.html">IMMERSIVE VIDEO</a></li>
										<li><a href="static-content-heat-distortion.html">HEAT DISTORTION</a></li>
										<li><a href="static-content-isometric-grids-scroll.html">ISOMETRIC GRIDS - SCROLL</a></li>
										<li><a href="static-content-isometric-grids-static.html">ISOMETRIC GRIDS - STATIC</a></li>
										<li><a href="static-content-point-of-interest.html">POINT OF INTEREST</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children"><a href="#">FEATURES</a>
									<ul class="sub-menu clearfix">
										<li><a href="#">Knowledge base</a>
											<ul class="sub-menu clearfix">
												<li><a href="kb-home.html">Homepage</a></li>
												<li><a href="kb-category-page.html">Category page</a></li>
												<li><a href="kb-category-page-2cols.html">Category page 2 cols</a></li>
												<li><a href="kb-sub-category-page.html">Sub-category page</a></li>
												<li><a href="kb-video-article.html">Video article</a></li>
												<li><a href="kb-single-article.html">Single article</a></li>
												<li><a href="kb-search-page.html">Search page</a></li>
												<li><a href="kb-404-page.html">404 page</a></li>
											</ul>
										</li>
										<li><a title="separator" href="#">separator</a></li>
										<li class="menu-item-has-children"><a href="#">CUSTOM SUBHEADERS</a>
											<ul class="sub-menu clearfix">
												<li><a href="subheader-background-image.html">BACKGROUND IMAGE</a></li>
												<li><a href="subheader-background-video.html">BACKGROUND VIDEO</a></li>
												<li><a href="subheader-background-full-color.html">BACKGROUND COLORS</a></li>
												<li><a href="subheader-animated-sparkles.html">ANIMATED SPARKLES</a></li>
												<li><a href="subheader-animated.html">ANIMATED PARTICLES</a></li>
												<li><a href="subheader-animated-mask.html">ANIMATED MASK</a></li>
												<li><a href="subheader-animated-rain.html">ANIMATED RAIN</a></li>
												<li><a title="separator" href="#">separator</a></li>
												<li><a href="subheader-easter-holidays.html">EASTER HOLIDAYS</a></li>
												<li><a href="subheader-st-patrick.html">ST. PATRICK’S</a></li>
												<li><a href="subheader-4th-july.html">4th JULY</a></li>
												<li><a href="subheader-christmas.html">CHRISTMAS</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children"><a href="#">TEMPLATE STYLES</a>
											<ul class="sub-menu clearfix">
												<li><a href="styles-typography.html">TYPOGRAPHY</a></li>
												<li><a href="styles-icons.html">ICONS</a></li>
												<li><a href="styles-tables.html">TABLES</a></li>
											</ul>
										</li>
										<li><a title="separator" href="#">separator</a></li>
										<li><a class="inner-elem" href="bigblog.html">BLOG - FLIP BOOK</a></li>
										<li><a href="blog.html">BLOG</a></li>
										<li><a href="blog-alternative-layout.html">ALTERNATIVE BLOG</a></li>
										<li><a href="latest-news.html">LATEST NEWS</a></li>
										<li><a href="sortable-portfolio.html">SORTABLE PORTFOLIO</a></li>
										<li><a href="sortable-portfolio-full.html">SORTABLE PORTFOLIO FULL</a></li>
										<li><a href="carousel-portfolio.html">CAROUSELS PORTFOLIO</a></li>
										<li><a href="carousel-portfolio-alt.html">CAROUSELS PORTFOLIO ALT.</a></li>
										<li><a href="portfolio-fullwidth.html">PORTFOLIO - FULLWIDTH</a></li>
										<li><a href="portfolio-creative.html">PORTFOLIO - CREATIVE</a></li>
										<li><a href="#">PORTFOLIO CATEGORIES</a>
											<ul class="sub-menu clearfix">
												<li><a href="portfolio-category-4-cols.html">PORTFOLIO CAT. – 4 COLS</a></li>
												<li><a href="portfolio-category-3-cols.html">PORTFOLIO CAT. – 3 COLS</a></li>
												<li><a href="portfolio-category-2-cols.html">PORTFOLIO CAT. – 2 COLS</a></li>
												<li><a href="portfolio-category-1-col.html">PORTFOLIO CAT. – 1 COL</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children"><a href="shop-landing-page-default.html">SHOP</a>
									<ul class="sub-menu clearfix">
										<li><a href="shop-landing-page-default.html">LANDING PAGE (DEFAULT)</a></li>
										<li><a href="shop-landing-page-alternative.html">LANDING PAGE (ALT.)</a></li>
										<li><a href="shop-landing-page-classic.html">LANDING PAGE (CLASSIC)</a></li>
										<li><a href="product-category.html">CATEGORY WITH SIDEBAR</a></li>
										<li><a href="product-page.html">PRODUCT PAGE</a></li>
										<li><a href="product-page-no-subheader.html">PRODUCT (NO SUBHEADER)</a></li>
										<li><a href="cart.html">SHOPPING CART</a></li>
										<li><a href="checkout.html">CHECKOUT PROCESS</a></li>
										<li><a href="my-account.html">MY ACCOUNT</a></li>
									</ul>
								</li>
								<li class="menu-item-has-children menu-item-mega-parent"><a href="#">PAGES</a>
									<ul class="hg_mega_container row clearfix">
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">The Company</a>
											<ul class="clearfix">
												<li><a href="about-us.html">ABOUT US</a></li>
												<li><a href="about-us-alt.html">ABOUT US - ALT</a></li>
												<li><a href="about-me.html">ABOUT ME</a></li>
												<li><a href="contact-us.html">CONTACT US</a></li>
												<li><a href="our-services.html">OUR SERVICES</a></li>
												<li><a href="our-team.html">OUR TEAM</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Work & Stories</a>
											<ul class="clearfix">
												<li><a href="blog-post.html">BLOG POST</a></li>
												<li><a href="photo-gallery.html">PHOTO GALLERY</a></li>
												<li><a href="photo-gallery-alt.html">PHOTO GALLERY ALT.</a></li>
												<li><a href="portfolio-item.html">PORTFOLIO ITEM</a></li>
												<li><a href="testimonials.html">TESTIMONIALS</a></li>
												<li><a href="agency-product-page.html">AGENCY - PRODUCT</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">Dynamics</a>
											<ul class="clearfix">
												<li><a href="historic.html">HISTORIC</a></li>
												<li><a href="faq.html">F.A.Q.</a></li>
												<li><a href="process.html">PROCESS</a></li>
												<li><a href="careers.html">CAREERS</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title">System</a>
											<ul class="clearfix">
												<li><a href="404.html">404 PAGE</a></li>
												<li><a href="coming-soon.html">COMING SOON / OFFLINE</a></li>
												<li><a href="page-without-sidebar.html">PAGE WITHOUT SIDEBAR</a></li>
												<li><a href="page-with-sidebar.html">PAGE WITH SIDEBAR</a></li>
											</ul>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children menu-item-mega-parent"><a href="#">ELEMENTS</a>
									<ul class="hg_mega_container row clearfix">
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_hide">Col</a>
											<ul class="clearfix">
												<li><a href="elements-screenshots-box.html">SCREENSHOT BOX</a></li>
												<li><a href="elements-grid-photo-gallery.html">GRID PHOTO GALLERY</a></li>
												<li><a href="elements-grid-photo-gallery-full-width.html">GRID PHOTO GALLERY FULL-WIDTH</a></li>
												<li><a href="elements-photo-gallery-alt.html">PHOTO GALLERY ALTERNATIVE</a></li>
												<li><a href="elements-recent-work.html">RECENT WORK</a></li>
												<li><a href="elements-latest-posts.html">LATEST POSTS</a></li>
												<li><a href="elements-devices.html">DEVICES ELEMENT</a></li>
												<li><a href="elements-media-container.html">MEDIA CONTAINER</a></li>
												<li><a href="elements-media-container-custom-content.html">MEDIA CONTAINER ALT.</a></li>
												<li><a href="elements-google-map.html">GOOGLE MAP</a></li>
												<li><a href="elements-search-box.html">SEARCH BOX</a></li>
												<li><a href="elements-diagram.html">DIAGRAM ELEMENT</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_hide">Col</a>
											<ul class="clearfix">
												<li><a href="elements-action-box.html">ACTION BOX</a></li>
												<li><a href="elements-big-social.html">BIG SOCIAL BLOCKS</a></li>
												<li><a href="elements-call-out-banner.html">CALL-OUT BANNER</a></li>
												<li><a href="elements-partners-testimonials.html">PARTNERS &amp; TESTIMONIALS</a></li>
												<li><a href="elements-circle-title-box.html">CIRCLE TITLE BOX</a></li>
												<li><a href="elements-historic-element.html">HISTORIC ELEMENTS</a></li>
												<li><a href="elements-hover-boxes.html">HOVER BOXES</a></li>
												<li><a href="elements-hover-icons.html">HOVER ICONS</a></li>
												<li><a href="elements-services.html">SERVICES BOXES</a></li>
												<li><a href="elements-image-boxes-carousel.html">IMAGE BOXES CAROUSEL</a></li>
												<li><a href="elements-video-box.html">VIDEO BOX</a></li>
												<li><a href="elements-team-carousel.html">TEAM BOXES CAROUSEL</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_hide">Col</a>
											<ul class="clearfix">
												<li><a href="elements-icon-box.html">ICON BOX</a></li>
												<li><a href="elements-icon-box-grid.html">GRID ICON BOXES</a></li>
												<li><a href="elements-image-box.html">IMAGE BOX</a></li>
												<li><a href="elements-steps-box.html">STEPS BOXES</a></li>
												<li><a href="elements-info-box.html">INFO BOX</a></li>
												<li><a href="elements-statistics.html">STATISTICS</a></li>
												<li><a href="elements-stage-and-icon-boxes.html">STAGE &amp; ICON BOXES</a></li>
												<li><a href="elements-team-boxes.html">TEAM BOXES</a></li>
												<li><a href="elements-price-list.html">PRICE LIST</a></li>
												<li><a href="elements-progress-bars.html">PROGRESS BARS</a></li>
												<li><a href="elements-image-boxes-carousel-alt.html">IMAGE BOXES CAROUSEL - ALT</a></li>
												<li><a href="elements-partners-testimonials-fancy.html">TESTIMONIALS FANCY</a></li>
											</ul>
										</li>
										<li class="menu-item-has-children col-sm-3"><a href="#" class="zn_mega_title zn_mega_title_hide">Col</a>
											<ul class="clearfix">
												<li><a href="elements-system-elements.html">SYSTEM ELEMENTS</a></li>
												<li><a href="elements-tabs.html">TABS</a></li>
												<li><a href="elements-buttons.html">BUTTONS</a></li>
												<li><a href="elements-accordions.html">ACCORDIONS</a></li>
												<li><a href="elements-contact-form.html">CONTACT FORM</a></li>
												<li><a href="elements-pricing-tables.html">PRICING TABLES</a></li>
												<li><a href="elements-vertical-tabs.html">VERTICAL TABS</a></li>
												<li><a href="elements-miscellaneous.html">MISCELLANEOUS</a></li>
												<li><a href="elements-counter-numbers.html">NUMBERS COUNTING</a></li>
												<li><a href="elements-world-map-offices.html">WORLD MAP OFFICES</a></li>
												<li><a href="elements-parallax-section.html">PARALLAX SECTION + CAROUSEL</a></li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<!--/ Main menu -->
					</div>
					<!--/ .main-menu-wrapper .col -->
				</div>
				<!--/ .site-header-row .site-header-bottom -->
			</div>
			<!--/ Header Bottom container -->
		</div>
		<!--/ Header Bottom wrapper -->
	</div>
	<!--/ Header wrapper -->
</header>
<!--/ Header style 12 -->